torch
peft
sentencepiece
accelerate
bitsandbytes
einops
scipy
git+https://github.com/huggingface/transformers.git
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
